<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="skills">
    <ion-router-outlet name="skills"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="location">
    <ion-router-outlet name="location"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar color="dark" slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="search"></ion-icon>
      <ion-label>Traditional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="skills" href="/tabs/(skills:skills)">
      <ion-icon name="build"></ion-icon>
      <ion-label>Skill-based</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location" href="/tabs/(location:location)">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Location-based</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
