<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Location-based Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="location_search_form" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>City</ion-label>
            <ion-input required type="text" placeholder="Example: Rochester" formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Use my current location</ion-label>
            <ion-toggle color="warning" formControlName="location"></ion-toggle>
        </ion-item>
        <ion-button padding color='warning' type="submit">Submit</ion-button>
    </form>
    <ion-list *ngFor="let item of response">
        <ion-item>
            <ion-avatar slot="start">
                <img src={{item.company_logo}}>
            </ion-avatar>
            <ion-label text-wrap>
                <h2>{{item.title}}</h2>
                <h3>{{item.company}}</h3>
                <p>{{item.location}}</p>
                <ion-anchor href={{item.url}}>View</ion-anchor>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-item>
        {{response}}
    </ion-item>
</ion-content>
