<ion-header>
  <ion-toolbar>
    <ion-title>Location-based Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="location_search_form" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input required type="text" placeholder="Example: Rochester" formControlName="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Use my current location</ion-label>
      <ion-toggle color="warning" formControlName="location"></ion-toggle>
    </ion-item>
    <ion-button padding color='warning' type="submit">Submit</ion-button>
  </form>
</ion-content>
