<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Skill-based Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="skill_search_form" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Skill</ion-label>
            <ion-select formControlName="skill" [interfaceOptions]="customActionSheetOptions"
                        interface="action-sheet">
                <ion-select-option *ngFor="let skill of skills" value={{skill}}>{{skill}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button padding color='danger' type="submit">Submit</ion-button>
    </form>
</ion-content>
