<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Traditional Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="keyword_search_form" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Search</ion-label>
            <ion-input required type="text" placeholder="Keyword" formControlName="search"></ion-input>
        </ion-item>
        <ion-button padding color='success' type="submit">Submit</ion-button>
    </form>
    <ion-item>{{response}}</ion-item>
</ion-content>
