<ion-header>
    <ion-toolbar>
        <ion-title>Traditional Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Search</ion-label>
            <ion-input required type="text" placeholder="Keyword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Full Time</ion-label>
            <ion-toggle color="success"></ion-toggle>
        </ion-item>
        <button ion-button type="submit">Submit</button>
    </form>
</ion-content>
