<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Traditional Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-label text-wrap>
        <p>
            This good old-fashioned search let's you search by keyword. If your keyword is in the
            job's title or description, it will be displayed here.
        </p>
    </ion-label>
    <br/>
    <form [formGroup]="keyword_search_form" (ngSubmit)="handleForm()">
        <ion-item>
            <ion-label>Search</ion-label>
            <ion-input required type="text" placeholder="Keyword" formControlName="search"></ion-input>
        </ion-item>
        <ion-button padding color='success' type="submit">Submit</ion-button>
    </form>

    <ion-list *ngFor="let item of response">
        <ion-item>
            <ion-avatar slot="start" *ngIf="item.company_logo!==null;">
                <img src={{item.company_logo}}>
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="item.company_logo===null;">
                <img src="../../assets/img/na.png">
            </ion-avatar>
            <ion-label text-wrap>

                <h2>{{item.title}}</h2>
                <h3>{{item.company}}</h3>
                <p>{{item.location}}</p>
                <ion-anchor href={{item.url}}>View</ion-anchor>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>
